[pylint]
disable=
    broad-except,
    consider-using-f-string,
    consider-using-sys-exit,
    consider-using-with,
    expression-not-assigned,
    global-statement,
    global-variable-undefined,
    import-error,
    invalid-name,
    line-too-long,
    min-public-methods,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-continue,
    no-self-use,
    possibly-unused-variable,
    redefined-outer-name,
    simplifiable-if-expression,
    superfluous-parens,
    too-many-arguments,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-return-statements,
    too-many-statements,
    try-except-raise,
    unnecessary-pass,
    unspecified-encoding,
    unused-argument,
    unused-variable,
    useless-return,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
